html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 10px;
  }

  .column2 {
    float: center;
    width: 50%;
    
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container2 {
    background-color: white;
    
  }

  .container2::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .fa-github:hover {
    color: rgb(231, 163, 17);
  }

  .fa-linkedin-square:hover {
    color: rgb(231, 163, 17);
  }

  .fa-envelope:hover {
    color: rgb(231, 163, 17);
  }

  h2 {
    font-size: 25px;
    font-family: -apple-system,BlinkMacSystemFont;
    color: black;
    font-weight: bold;
    text-align: center;
  }

body {
    background-color: rgb(245, 238, 178);
}

@media (min-width: 434px){
    .navbar.bg-light {
    background-color: #ebc72b !important;
}
}

@media (max-width: 768px){
    .navbar.bg-light {
    background-color:rgb(230, 225, 225) !important;
}
}

.navbar-brand, .nav > li > a {
    padding: 15px;
    font-size: 25px;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar a {
    color:gray;
    font-size: 18px;
  }

  .thumbnail {
    padding: 15px;
    border-radius: 25px;
  }

  .img-fluid {
    border-radius: 10px;
  }

  .paragraph {
    font-size: 18px;
  }

  .title {
    font-size: 55px;
    font-weight: bold;
    font-style: italic;
    color: #000;
    padding-top: 15px;
    animation-name: initial;
    animation-duration: 4s;
  }

  .viztitle {
    padding-top: 20px;
  }
/* Title sign */
  .crazytitle {
    margin: 0;
    padding-top: 15px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

  td, th {
    text-align: center;
    height: 40px;
    width: 150px;
  }

  th {
    background-color: #cc890e;
    color: white;
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table {
    margin: 4em;
    float: left;
    border: 1px solid black;
    border-collapse: collapse;
}

p {
  font-size: 18px;
  font-family: -apple-system,BlinkMacSystemFont;
}