<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/contact_style.css">
    <!-- Glyphicons Fontawesome link -->
    <script src="https://kit.fontawesome.com/f11d2abb65.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="background:rgb(206, 112, 25)" href="/">Home <i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/model">Honey Product Modeling</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://betterbee-project.herokuapp.com/">Image Recognition</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Visualizations
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/viz1">Total Product/Price Per State</a>
                    <a class="dropdown-item" href="/viz2">Production/Pesticide</a>
                    <a class="dropdown-item" href="/viz3">Graphs Dash</a>
                    <a class="dropdown-item" href="/viz4">Maps Dash</a>
                    <a class="dropdown-item" href="/viz5">Colonies Added & Lost</a>
                    <a class="dropdown-item" href="/viz6">Disease and Pesticides</a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/documentation">Documentation & References</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
              </li>
          </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="description-summary">
        <h1 align="middle">Meet the Team</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row" align="middle">
        <div class="column">
            <div class="card" style="width: 18rem;">
              <img src="../static/img/Graham.png" alt="Graham" style="width:100%">
              <div class="container">
                <h2>Graham Endean</h2>
                <a href="https://https://github.com/grahamendean" target="blank" style="color:black">
                    <i class="fa fa-github" style="font-size:30px;"></i></a>
                <a href="https://www.https://www.linkedin.com/in/graham-endean-120176133/" target="blank" style="color:#0073B1">
                    <i class="fa fa-linkedin-square" style="font-size:30px;"></i></a>
                <a href="mailto:grahamendean99@gmail.com" target="blank" style="color:black">
                    <i class="fas fa-envelope fa-2x" ></i>
                </a>
              </div>
            </div>
          </div>
          <br>
          <div class="column">
            <div class="card" style="width: 18rem;">
              <img src="../static/img/John.png" alt="Graham" style="width:100%">
              <div class="container">
                <h2>John Falcone</h2>
                <a href="https://github.com/Apex8" target="blank" style="color:black">
                    <i class="fa fa-github" style="font-size:30px;"></i></a>
                <a href="https://www.linkedin.com/in/john-falcone-65266210b/" target="blank" style="color:#0073B1">
                    <i class="fa fa-linkedin-square" style="font-size:30px;"></i></a>
                <a href="mailto:johnfalcone022@gmail.com" target="blank" style="color:black">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card" style="width: 18rem;">
              <img src="../static/img/Yukie.png" alt="Graham" style="width:100%">
              <div class="container">
                <h2>Yukie Kajita</h2>
                <a href="https://github.com/yukiekajita" target="blank" style="color:black">
                    <i class="fa fa-github" style="font-size:30px;"></i></a>
                <a href="https://www.linkedin.com/in/yukie-kajita-418917bb/" target="blank" style="color:#0073B1">
                    <i class="fa fa-linkedin-square" style="font-size:30px;"></i></a>
                <a href="mailto:yukiekajita@icloud.com" target="blank" style="color:black">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card" style="width: 18rem;">
              <img src="../static/img/Katy.png" alt="Graham" style="width:100%">
              <div class="container">
                <h2>Katy Luquire</h2>
                <a href="https://github.com/CatherineLuquire" target="blank" style="color:black">
                    <i class="fa fa-github" style="font-size:30px;"></i></a>
                <a href="https://www.linkedin.com/in/catherine-luquire/" target="blank" style="color:#0073B1">
                    <i class="fa fa-linkedin-square" style="font-size:30px;"></i></a>
                <a href="mailto:cluquire@gmail.com" target="blank" style="color:black">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card" style="width: 18rem;">
              <img src="../static/img/Brian.png" alt="Graham" style="width:100%">
              <div class="container">
                <h2>Brian Stogner</h2>
                <a href="https://github.com/js04237" target="blank" style="color:black">
                    <i class="fa fa-github" style="font-size:30px;"></i></a>
                <a href="https://www.linkedin.com/in/jonathan-stogner-9614721ab/" target="blank" style="color:#0073B1">
                    <i class="fa fa-linkedin-square" style="font-size:30px;"></i></a>
                <a href="mailto:stognerbrian@gmail.com" target="blank" style="color:black">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card" style="width: 18rem;">
              <img src="../static/img/Jess.png" alt="Graham" style="width:100%">
              <div class="container">
                <h2>Jess Yoder</h2>
                <a href="https://github.com/jessyoder" target="blank" style="color:black">
                    <i class="fa fa-github" style="font-size:30px;"></i></a>
                <a href="https://www.linkedin.com/in/jessica-yoder-ab423299/" target="blank" style="color:#0073B1">
                    <i class="fa fa-linkedin-square" style="font-size:30px;"></i></a>
                <a href="mailto:jessica.m.yoder@gmail.com" target="blank" style="color:black">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        



    </div>

                

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>