<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Honey Production Model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/contact_style.css">
    <!-- Glyphicons Fontawesome link -->
    <script src="https://kit.fontawesome.com/f11d2abb65.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="background:rgb(206, 112, 25)" href="/">Home <i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/model">Honey Product Modeling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://betterbee-project.herokuapp.com/">Image Recognition</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/viz1">Total Product/Price Per State</a>
                        <a class="dropdown-item" href="/viz2">Production/Pesticide</a>
                        <a class="dropdown-item" href="/viz3">Graphs Dash</a>
                        <a class="dropdown-item" href="/viz4">Maps Dash</a>
                        <a class="dropdown-item" href="/viz5">Colonies Added & Lost</a>
                        <a class="dropdown-item" href="/viz6">Disease and Pesticides</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documentation">Documentation & References</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <section class="row">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8 col-lg-8 col-md-6">
                    <article class="description-content">

                        <!-- <h1 class="title">Honey Bee Project</h1> -->
                        <h1 class="crazytitle"><span class='one'>H</span><span class='two'>o</span><span class='three'></span>n<span
                                class='four'>e</span><span class='five'>y</span> <span class='six'>B</span><span
                                class='seven'>e</span><span class='eight'>e</span> <span class='nine'>P</span><span
                                class='ten'>r</span><span class='eleven'>o</span><span class='twelve'>j</span><span
                                class='thirteen'>e</span><span class='fourteen'>c</span><span class='fifteen'>t</span></h1>     
                        <hr class="my-4">
                        <img class="img-fluid"
                            src="https://api.time.com/wp-content/uploads/2017/10/honey-bees-insecticide.jpg?w=800&amp;quality=85"
                            alt="Honey Bee collecting pollen at a white flower"
                            title="Honey Bee collecting pollen at a white flower">
                        <div class="caption">
                            <p class="capt">Bee Project</p>
                        </div>
                        <p class="paragraph">
                            In this Final Project we took a look at Honey Bee data to determine if there is a certain
                            factor making our favorite honey producers dissapear.
                            We concluded that even though CCD is a factor that is hurting Honey bee colonies, there are
                            many other metrics to consider before jumping to conclusions.
                            One being that even though production has surged in the United States over the past decade
                            however prices are not lower to reflect this, they have only risen slightly for wholesale
                            prices but almost doubled for regular retail customers.
                            Along with various pests and pesticides to combat them, it is safe to say that honey bees
                            need protection now more than ever from all kinds of threats.
                            Great news however it seems like our beekeepers and other bee professionals have already
                            implemented different ways to help bees happy and the honey flowing!
                        </p>
                        <hr>
                        <h10>UNCC Data Boot Camp 2020</h10>
                    </article>
                </div>
                <div class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-6">
                    <div class="image-navigation">
                        <!-- Include Tab here imgs-->
                        <h4 class="viztitle">Visualizations</h4>
                        <hr class="my-4">
                        <div class="thumbnail" style="border: 1px solid white">
                            <a href="/viz1">
                                <img src="../static/img/Total Product_Price_Per_State.png" class="float-center"
                                    alt="Responsive image" style="width: 100%">
                                <div class="caption" class="align">
                                    <p class="capt">Total Product/Price Per State</p>
                                </div>
                        </div>
                        <div class="thumbnail" style="border: 1px solid white">
                            <a href="/viz2">
                                <img src="../static/img/Production_Pesticide.png" class="float-center"
                                    alt="Responsive image" style="width:100%">
                                <div class="caption">
                                    <p class="capt">Production/Pesticide</p>
                                </div>
                        </div>
                        <div class="thumbnail" style="border: 1px solid white">
                            <a href="/viz3">
                                <img src="../static/img/viz3.png" class='justify-content-center' alt="Responsive image"
                                    style="width:100%">
                                <div class="caption">
                                    <p class="capt">Graphs Dash</p>
                                </div>
                        </div>
                        <div class="thumbnail" style="border: 1px solid white">
                            <a href="/viz4">
                                <img src="../static/img/viz4.png" class='justify-content-center' alt="seasonal_teaser"
                                    style="width:100%">
                                <div class="caption">
                                    <p class="capt">Map Dash</p>
                                </div>
                        </div>
                        <div class="thumbnail" style="border: 1px solid white">
                            <a href="/viz5">
                                <img src="../static/img/viz5.png" class='justify-content-center' alt="seasonal_teaser"
                                    style="width:100%">
                                <div class="caption">
                                    <p class="capt">Colonies Added & Lost</p>
                                </div>
                        </div>
                        <div class="thumbnail" style="border: 1px solid white">
                            <a href="/viz6">
                                <img src="../static/img/viz6.png" class='justify-content-center' alt="seasonal_teaser"
                                    style="width:100%">
                                <div class="caption">
                                    <p class="capt">Disease and Pesticide</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>