<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index_style.css">
</head>

<body>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/model">Honey Product Modeling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://betterbee-project.herokuapp.com/">Image Recognition</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/viz1">Total Product/Price Per State</a>
                        <a class="dropdown-item" href="/viz2">Production/Pesticide</a>
                        <a class="dropdown-item" href="/viz3">Graphs Dash</a>
                        <a class="dropdown-item" href="/viz4">Maps Dash</a>
                        <a class="dropdown-item" href="/viz5">Colonies Added & Lost</a>
                        <a class="dropdown-item" href="/viz6">Disease and Pesticides</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documentation">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/references">References</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <section class="row">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8 col-lg-8 col-md-6">
                    <article class="description-content">

                        <h1>Title</h1>
                        <h5>Summary</h5>
                        <hr class="my-4">
                        <img class="landing"
                            src=""
                            class="float-left" alt="Main part of page goes here" style="width:100%">
                        <div class="caption">
                            <p class="capt"> Summary</p>
                        </div>
                        <p>
                            In conclusion while CCD is still a strange phenomenom and is still regularly occuring during the winter months in many honey bee colonies, it does not seem to have effected the overall honey market as largely as one would believe.
                            Production in pounds produced throughout the entire United States (GDP), and production yield per colony is actually at their highest levels in years due to less imports from other countries such as China and New Zealand.
                            And with more domestic product prices for individuals have nearly doubled while wholesale prices are only slightly higher than what they were a decade ago.
                            Along with the widespread use of pesticides being in more than 80% of the worlds supply of honey, with the health concerns for colonies from those pesticides affecting the brains of many bees, most likely a contributing cause to CCD.
                            Looking at the many different conclusions found during this project, it can be said that what we need to do more to defend bees from predators and ourselves.

                        </p>
                        <h5>Resources:</h5>
                        <ol>
                            <li> <a href=""></a>
                            </li>
                            <li><a href=""></a></li>
                        </ol>
                        <hr>
                        <h10>UNCC Data Boot Camp 2020</h10>
                    </article>
                </div>
                <div class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-6">
                    <div class="image-navigation">
                        <!-- Include Tab here imgs-->
                        <h4>Visualizations</h4>
                        <hr class="my-4">
                        <div class="thumbnail">
                            <a href="/viz1">
                                <img src="" class="float-center" alt="Responsive image"
                                    style="width: 100%">
                                <div class="caption" class="align">
                                    <p class="capt">Img1</p>
                                </div>
                        </div>
                        <div class="thumbnail">
                            <a href="/viz2">
                                <img src="" class="float-center" alt="Responsive image"
                                    style="width:100%">
                                <div class="caption">
                                    <p class="capt">Img2</p>
                                </div>
                        </div>
                        <div class="thumbnail">
                            <a href="viz3">
                                <img src=""
                                    class='justify-content-center' alt="Responsive image" style="width:100%">
                                <div class="caption">
                                    <p class="capt">Img3</p>
                                </div>
                        </div>
                        <div class="thumbnail">
                            <a href="viz4">
                                <img src=""
                                    class='justify-content-center' alt="seasonal_teaser" style="width:100%">
                                <div class="caption">
                                    <p class="capt">Img4</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>