<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Honey Production Model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/contact_style.css">
    <!-- Glyphicons Fontawesome link -->
    <script src="https://kit.fontawesome.com/f11d2abb65.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="background:rgb(206, 112, 25)" href="/">Home <i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/model">Honey Product Modeling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://betterbee-project.herokuapp.com/">Image Recognition</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/viz1">Total Product/Price Per State</a>
                        <a class="dropdown-item" href="/viz2">Production/Pesticide</a>
                        <a class="dropdown-item" href="/viz3">Graphs Dash</a>
                        <a class="dropdown-item" href="/viz4">Maps Dash</a>
                        <a class="dropdown-item" href="/viz5">Colonies Added & Lost</a>
                        <a class="dropdown-item" href="/viz6">Disease and Pesticides</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documentation">Documentation & References</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row"  style="padding-bottom: 10px; padding-top: 10px">
            <div class="col-md-12">
              <h3>Honey Production and Pesticide Use</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"  style="padding-bottom: 10px;">
              <p>One team goal was to attempt to find factors that influenced a decrease in honey bees, bee colonies, or honey production. When analyzing the Honeybees and Neonic Pesticides data, I noticed that there was a slight downward trend in honey production per colony, as well as total production. At the same time, there was an increase in most of the types of pesticides recorded in this data source. It seems that there may be a relation to pesticide use and bee colony health and honey production.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                        <div class='tableauPlaceholder' id='viz1605980682136' style='position: relative'><noscript><a
                                    href='#'><img alt=' '
                                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;HoneyAnalysis_16055627049150&#47;Pesticide&#47;1_rss.png'
                                        style='border: none' /></a></noscript><object class='tableauViz'
                                style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='HoneyAnalysis_16055627049150&#47;Pesticide' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image'
                                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;HoneyAnalysis_16055627049150&#47;Pesticide&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='language' value='en' />
                                <param name='filter' value='publish=yes' /></object></div>
                        <script type='text/javascript'>                    
                        var divElement = document.getElementById('viz1605980682136'); 
                        // var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } 
                        var vizElement = divElement.getElementsByTagName('object')[0]; { vizElement.style.width = '1100px'; vizElement.style.height = '650px'; }
                        var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                        </script>
                        <p>
                        
                        </p>
                        <hr>
                        <h10>UNCC Data Boot Camp 2020</h10>
                    </article>
                </div>
            </div>
        </section>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>